.status {
	font-family: "Roboto", sans-serif;
	font-weight: 100;
}

.btn-left {
	text-align: left;
	padding-left: 10px;
}

.status-profile-pic {
	max-height: 250px;
}

.write-message-textarea {
	background-color: rgba(255, 255, 255, 0.3);
	color: #fff;
	min-width: 100%;
	max-width: 100%;
	min-height: 100px;
	max-height: 300px;
}

.comment-textarea {
	background-color: rgba(255, 255, 255, 0.3);
	color: #000;
	min-width: 100%;
	max-width: 100%;
	min-height: 100px;
	max-height: 300px;
}

.comment-field {
	background-color: rgba(245, 245, 245, 0.5);
	color: #fff;
}


.modal-form-control {
	display: block;
	color: #000;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.modal-control-label-color {
	color: #000;
}


/* MODEL STYLE */

.modal-style {
	color: #000;
}

.modal-style h1,h2,h3,h4,h5,h6 {
	color: #000;
}



.modal-btn {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 400;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.modal-btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.modal-btn-default:hover, .modal-btn-default:focus, .modal-btn-default:active, .modal-btn-default.active, .open .dropdown-toggle.modal-btn-default {
	color: #333;
	background-color: #ebebeb;
	border-color: #adadad;
}

.modal-btn-primary {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
}

.modal-btn-primary:hover, .modal-btn-primary:focus, .modal-btn-primary:active, .modal-btn-primary.active, .open .dropdown-toggle.modal-btn-primary {
	color: #fff;
	background-color: #3276b1;
	border-color: #285e8e;
}

.modal-btn-success {
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.modal-btn-success:hover, .modal-btn-success:focus, .modal-btn-success:active, .modal-btn-success.active, .open .dropdown-toggle.modal-btn-success {
	color: #fff;
	background-color: #47a447;
	border-color: #398439;
}

.modal-btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da;
}

.modal-btn-info:hover, .modal-btn-info:focus, .modal-btn-info:active, .modal-btn-info.active, .open .dropdown-toggle.modal-btn-info {
	color: #fff;
	background-color: #39b3d7;
	border-color: #269abc;
}

.modal-btn-warning {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236;
}

.modal-btn-warning:hover, .modal-btn-warning:focus, .modal-btn-warning:active, .modal-btn-warning.active, .open .dropdown-toggle.modal-btn-warning {
	color: #fff;
	background-color: #ed9c28;
	border-color: #d58512;
}

.modal-btn-danger {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

.modal-btn-danger:hover, .modal-btn-danger:focus, .modal-btn-danger:active, .modal-btn-danger.active, .open .dropdown-toggle.modal-btn-danger {
	color: #fff;
	background-color: #d2322d;
	border-color: #ac2925;
}

/* MODEL STYLE */