body {
	font-family: "Open Sans",sans-serif;
	font-size: 14px;
	line-height: 1.6em;
	color: #fff;
	background-attachment: fixed !important;
	background-color: #8f71ab;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…AiIHdpZHRoPSIxMDAiIGhlaWdodD0iMTAwIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
	background-image: -moz-linear-gradient(bottom, #5571ab 0, #9b87b3 0, #5771ab 0, #5d71ab 24.63%, #6f71ab 50%, #7f71ab 75%, #8f71ab 100%);
	background-image: -o-linear-gradient(bottom, #5571ab 0, #9b87b3 0, #5771ab 0, #5d71ab 24.63%, #6f71ab 50%, #7f71ab 75%, #8f71ab 100%);
	background-image: -webkit-linear-gradient(bottom, #5571ab 0, #9b87b3 0, #5771ab 0, #5d71ab 24.63%, #6f71ab 50%, #7f71ab 75%, #8f71ab 100%);
	background-image: linear-gradient(bottom, #5571ab 0, #9b87b3 0, #5771ab 0, #5d71ab 24.63%, #6f71ab 50%, #7f71ab 75%, #8f71ab 100%);
}